@import '../style/sass.sass'
.app
  height: 100%
  .header
    +space-between
    border-bottom: $border
    .title
      padding: 10px 20px
      font-weight: bold
    .right
      margin-right: 20px

  .body
    height: calc(100% - 53px)
    display: flex
    .menu
      width: 180px
      border-right: $border
      .item
        display: block
        padding: 4px 20px
        text-decoration: none
    .types
      flex: 1
      .type
        height: 100%
        overflow-y: auto
        .type-title
          margin-left: 30px
        .charts
          display: flex
          flex-wrap: wrap
          justify-content: space-around
          .chart
            width: 500px
            height: 300px
            box-shadow: 2px 2px 4px #888
